<a href="https://colab.research.google.com/github/jtaquia/CURSO-ANALITICA-PREDICTIVA/blob/Curso_Analitica_Predictiva_Semana_1/Introduccion_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

Tratamiento de Datos utilizando Pandas. Operaciones y filtrado

In [7]:
data = [34, 56, 37,80 , 77]
serie_A = pd.Series(data)
print(serie_A)

0    34
1    56
2    37
3    80
4    77
dtype: int64

In [4]:
print(serie_A.index)

RangeIndex(start=0, stop=5, step=1)

In [5]:
print(serie_A.values)

[34 56 37 80 77]

In [18]:
data = [34, 56, 37,80 , 77]
serie_A = pd.Series(data)
cursos = ["historia","lenguaje","arte","algebra","botanica"]
A = pd.Series(cursos)
#print(serie_A,cursos)
S = pd.Series(cursos, index = serie_A)
G = pd.Series(serie_A.values, index = cursos)
print(S)
print(G)

34    historia
56    lenguaje
37        arte
80     algebra
77    botanica
dtype: object
historia    34
lenguaje    56
arte        37
algebra     80
botanica    77
dtype: int64

Como se observa cuando se trabaja en Pandas con Series se puede obtener el Indice con  index y los valores utilizando list.values

In [0]:
# TambiÃ©n se pueden hacer operaciones con los valores de una serie
print( serie_A + 3)

print(sum(serie_A))

In [0]:
print(G > 60)

print(G[G>60])

ADEMAS DE LISTAS SE PUEDE TRABAJAR EN PANDAS CON DICCIONARIOS

In [0]:
dict = { "Lima": 3453233, "Ayacucho":63637773 , "Cajamarca": 9382772 , "Puno": 52444416, "Ica": 827166922}
print(dict)
print(type(dict))